@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Scrollbar customization */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(99, 102, 241, 0.5);
  border-radius: 10px;
}
